body{
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center top;
    min-height: 97vh;
}

section{
    border: solid rebeccapurple;
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
    min-height: 628px;
    width: 300px;
}